@charset "utf-8";
/* CSS Document */

#body_right {
    float: right;
    width: 788px;
    height: 588px;
    margin: 5px;
    border: 1px #CCC solid;
}

#body_body {
    width: 700px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

#left {
    width: 280px;
    height: 99px;
    border-bottom: 1px #CCC solid;
    float: left;
}

#left_left {
    width: 100px;
    height: 99px;
    float: left;
    text-align: center;
    font-size: 12px;
}

#left_left p {
    margin-top: 40px;
}

#left_right {
    width: 180px;
    height: 99px;
    float: right;
}

#left_right p {
    margin-top: 40px;
    font-size: 10px;
}

#left_right img {
    margin-top: 40px;
}

#center {
    width: 300px;
    height: 99px;
    float: left;
    border-bottom: 1px #CCC solid;
}

#center p {
    margin-top: 40px;
    font-size: 10px;
    color: #333;
}

#right {
    width: 120px;
    height: 99px;
    float: right;
    border-bottom: 1px #CCC solid;
}

#right p {
    margin-top: 40px;
    text-align: center;
    font-size: 12px;
}

#right p a {
    color: #F07800;
}

#right p a:hover {
    color: #999;
}
	   