@charset "utf-8";
/* CSS Document */

#total {
    background-image: url(/frontend/application/style1/images/bg_shopping.jpg);
    height: 2100px; /*网页高度设置*/
    background-repeat: repeat-x;
}

#whitebg {
    width: 1020px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFF;
    min-height: 1890px; /*白色背景部分高度设置与网页高度差值不变*/
    margin: 0 auto;
}

#body {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}

#body_top {
    width: 1000px; /*主体顶部*/
    height: 20px;
    font-size: 10px;
    border-bottom: 1px #F07800 solid;
}

#body_top a {
    color: #F60;
}

#body_top a:hover {
    color: #CF0;
}

#merchant {
    width: 1000px;
    height: 400px;
}

#body_left_left {
    float: left;
    width: 450px;
    height: 400px;
    font-size: 16px;
    font-weight: bold;
}

#body_left_left h2 {
    color: #F30;
}

#body_left_left img {
    height: 300px;
    width: 400px;
}

#body_left_right {
    float: right;
    width: 340px;
    height: 300px;
    margin-top: 100px;
    font-size: 14px;
    color: #666;
    margin-right: 200px;
}

#body_left_right b {
    height: 30px;
    color: #000;
}

#information {
    height: 30px;
    width: 340px;
}

#information1 {
    height: 50px;
    width: 340px;
}

#information_left {
    float: left;
    height: 50px;
    width: 75px;
}

#information_center {
    height: 50px;
    width: 45px;
    float: left;
    margin-left: 10px;
}

#information_right {
    float: right;
    height: 50px;
    width: 170px;
    margin-right: 30px;
    line-height: 40px;
    overflow: auto;
    font-size: 16px;
    color: #900;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

#information_right1 {
    width: 340px;
    height: 30px;
    text-align: right;
    margin-right: 20px;
    line-height: 30px;
    overflow: auto;
}

#line1px {
    height: 2px;
    width: 1000px;
    border-bottom: 1px #CCC solid;
}

/*主体左侧结束*/

#space10 {
    height: 10px;
}

#body_left {
    float: left; /*主体左侧*/
    width: 700px;
    margin-top: 10px;
}

#map {
    width: 700px; /*商家地理位置信息*/
    height: 370px;
    margin-top: 10px;
}

#map_title {
    font-size: 18px;
    color: #FFF;
    background: #F07800;
    height: 40px;
    width: 200px;
    line-height: 40px;
    overflow: auto;
    font-weight: bold;
    text-align: center;
}

#line2px {
    height: 2px;
    width: 700px;
    background-color: #F07800;
}

#map_body {
    width: 700px;
    height: 300px;
}

#map_body_left {
    width: 350px;
    float: left;
    height: 300px;
}

#map h2 {
    font-weight: bold;
    width: 350px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 20px;
}

#table {
    height: 160px;
    width: 310px;
    margin: 0 auto;
    border: 1px #CCC solid;
}

#address {
    text-align: center;
    font-size: 10px;
    height: 50px;
    line-height: 50px;
    overflow: auto;
    color: #000;
    border-bottom: 1px #CCC solid;
}

#address b {
    color: #000;
}

#here {
    height: 22px;
    width: 310px;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 0px;
    line-height: 20px;
    overflow: auto;
}

#here_left {
    float: left;
    height: 20px;
    width: 102px;
}

#here_center {
    float: left;
    width: 103px;
    height: 20px;
    border-bottom: 1px #CCC solid;
    border-left: 1px #CCC solid;
}

#here_right {
    float: right;
    width: 103px;
    height: 20px;
    border-bottom: 1px #CCC solid;
    border-left: 1px #CCC solid;
}

#ser {
    text-align: center;
    height: 89px;
}

#ser_left {
    height: 30px;
    width: 140px;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}

#ser_right {
    float: right;
    width: 130px;
    height: 30px;
    margin-top: 30px;
}

#ser_right img {
    margin: 0px 5px;
}

#map_body_right {
    float: right;
    width: 330px;
    height: 300px;

}

#map_body_right img {
    width: 320px;
    height: 280px;
    margin-top: 10px;
}

/*地理位置部分结束*/

#others {
    width: 700px; /*商家其它商品信息*/
    height: 300px;
}

#other_title {
    width: 700px;
    height: 40px;
}

#others_title_left {
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    overflow: auto;
    text-align: center;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    background: #F07800;
}

#others_title_right {
    float: right;
    font-size: 14px;
    color: #000;
    margin-right: 10px;
}

#others_title_right ul {
    list-style: none;
}

#others_title_right li {
    width: 60px;
    float: right;
    margin-top: 10px;
}

#others_mixtitle {
    width: 700px;
    height: 210px;
    font-size: 12px;
    font-weight: bold;
    border: 1px #CCC solid;
    margin-top: 5px;
}

#others_mixtitle_left {
    float: left;
    width: 300px;
    height: 30px;
    line-height: 30px;
    overflow: auto;
    margin-left: 20px;
}

#others_mixtitle_right {
    float: right;
    margin-right: 10px;
    width: 370px;
    height: 30px;
}

#others_mixtitle_right ul {
    list-style: none;
    height: 30px;
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    overflow: auto;
}

#others_mixtitle_right li {
    width: 60px;
    float: right;
}

#introduce_title {
    width: 150px;
    height: 40px;
    background: #F07800;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    overflow: auto;
}

#introduce_txt {
    font-size: 12px;
    width: 680px;
    margin: 5px 10px;
}

#img_big {
    height: 300px;
    width: 600px;
    margin-left: 50px;
    border: 1px #CCC solid;
}

#img_big img {
    height: 300px;
    width: 600px;
}

#img_little {
    height: 100px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

#img_little img {
    height: 80px;
    width: 100px;
    margin: 0px 5px;
    border: 1px #CCC solid;
}

#body_right {
    float: right; /*主体右侧*/
    width: 295px;
}

#phone {
    height: 81px;
    border: 1px #CCC solid;
    width: 290px;
    margin-top: 20px;
}

#phone_left {
    float: left;
    width: 104px;
    height: 78px;
}

#phone_right_up {
    float: right;
    width: 180px;
    height: 36px;

}

#phone_right_down {
    float: right;
    width: 150px;
    height: 36px;
    line-height: 34px;
    overflow: auto;
    background-image: url(/frontend/application/style1/images/phone_pic_bg.jpg);
    background-repeat: no-repeat;
}

#phone_right_down a {
    color: #3CF;
    font-weight: bold;
    font-size: 12px;
    margin-left: 20px;
}

#notice {
    height: 200px;
    width: 295px;
    border: 1px #CCC solid;
    margin-top: 5px;
}

#txt {
    font-size: 14px;
    font-weight: bold;
    background: #E0E0E0;
    height: 30px;
    color: #000;
    text-align: center;
    line-height: 30px;
    overflow: auto;
    border-bottom: 1px #CCC solid;
}

/*#notice_body ul{width:280px;
white-space:nowrap;
                }
#notice_body li{width:280px;
                 height:30px;
                font-size:12px;
				color:#900;
				white-space:nowrap;
                 }		*/

#photos {
    text-align: center;
    font-family: "宋体";
    font-size: 12px;
    margin-top: 20px;
    width: 700px;
    height: 500px;
    float: left;
}

#thumbs ul {
    padding: 0px;
    margin: 0px;
}

#thumbs li {
    padding: 0px;
    margin: 0px;
}

#photos div {
    text-align: left;
    overflow: hidden;
}

#thumbs ul img {
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    vertical-align: top;
    border-left-width: 0px;

}

.picshow {
    margin: 0px auto;
    width: 700px;
    height: 500px;
}

#picarea {
    margin: 0px auto;
    width: 700px;
    background: #fff;
    height: 300px;
}

#bigpicarea {
    position: relative;
    margin: 0px auto;
    width: 600px;
    height: 300px;
    overflow: hidden;
}

.image {
    text-align: center;
}

.image img {
    border-bottom: #ececec 1px solid;
    border-left: #ececec 1px solid;
    margin: 0px auto;
    border-top: #ececec 1px solid;
    border-right: #ececec 1px solid;
}

#bigpicarea .word {
    text-align: center;
    height: 50px;
    color: #333;
}

#bigpicarea .word h3 {
    text-align: center;
    line-height: 48px;
    height: 48px;
    color: #333;
    font-size: 14px;
}

#bigpicarea .ui-els-hide {
    display: none;
}

#thumbs {
    list-style-type: none;
    margin: 0px auto;
    width: 600px;
    height: 110px
}

* html #thumbs {
    height: 100%;
}

#thumbs li {
    margin: 0px 7px;
    width: 90px;
    display: inline;
    float: left;
    height: 60px;
}

#thumbs ul {
    margin-top: 3px;
}

#thumbs img {
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    vertical-align: top;
    border-left-width: 0px;
}

#thumbs li.last_img {
    margin-right: 4px;
}

#thumbs li.first {
    margin: 25px 10px 0px 15px;
    width: 9px;
    height: 16px;
    cursor: pointer;
}

#thumbs li.last {
    margin: 25px 10px 0px 15px;
    width: 9px;
    height: 16px;
    cursor: pointer;
}

#thumbs li a {
    border-bottom: #fff 2px solid;
    border-left: #fff 2px solid;
    width: 90px;
    display: block;
    font-size: 0px;
    border-top: #fff 2px solid;
    border-right: #fff 2px solid;
}

#thumbs li a:hover {
    border-bottom: #000 2px solid;
    border-left: #000 2px solid;
    border-top: #000 2px solid;
    border-right: #000 2px solid;
}

#thumbs li a.current {
    border-bottom: #f8ae0f 2px solid;
    border-left: #f8ae0f 2px solid;
    border-top: #f8ae0f 2px solid;
    border-right: #f8ae0f 2px solid;
}

#thumbs li.first img {

}

#thumbs li.last img {

}

.bigbtnprev {
    z-index: 100;
    position: absolute;
    width: 35px;
    height: 51px;
    top: 110px;
    cursor: pointer;
    left: 30px;
}

.bigbtnnext {
    z-index: 100;
    position: absolute;
    width: 35px;
    height: 51px;
    top: 110px;
    cursor: pointer;
    right: 30px;
}

#big_play_prev {
    background-image: url(/frontend/application/style1/images/leftbig.png);
    width: 35px;
    display: block;
    height: 51px;
    _background: none;
    _filter: progid:dximagetransform.microsoft.alphaimageloader(sizingmethod=crop, src='/frontend/application/style1/images/leftbig.png');
}

#big_play_next {
    background-image: url(/frontend/application/style1/images/rightbig.png);
    width: 35px;
    display: block;
    height: 51px;
    _background: none;
    _filter: progid:dximagetransform.microsoft.alphaimageloader(sizingmethod=crop, src='/frontend/application/style1/images/rightbig.png');
}

#smallpicarea {
    margin: 0px auto;
    width: 700px;
    padding-top: 20px;
}

#notice_body {
    width: 285px;
    margin: 0 auto;
    font-size: 12px;
    color: #900;
    margin-top: 10px;
    margin-right: 10px;
}

#notice_body li {
    margin-top: 10px;
}

#enjoy {
    height: 500px;
    width: 295px;
    border: 1px #CCC solid;
    margin-top: 5px;
}

#enjoy_body_left {
    float: left;
    height: 83px;
    width: 100px;
    text-align: center;
    margin-top: 7px;
}

#enjoy_body_left img {
    height: 80px;
    width: 80px;
}

#enjoy_body_right {
    float: right;
    width: 180px;
    height: 90px;
    text-align: left;
}

#enjoy_body_right p {
    height: 50px;
    margin: 10px 5px;;
    padding: 0px;
    width: 170px;
    color: #333;
    font-size: 12px;
}

#enjoy_body_right a {
    height: 20px;
    width: 170px;
    float: right;
    text-align: right;
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 14px;
    color: #F00;
}

#enjoy_body_right a:hover {
    color: #9F0;
}
				 